{%extends '::base.html.twig'%}

{% block title %}
    {{parent()}} Saludo
{% endblock %}

{% block body %}

    {# total items count #}
    <div class="count">
        Total: {{ productos.getTotalItemCount }}
    </div>
    <table>
        <tr>
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(productos, 'Id', 'p.id') }}</th>
            <th{% if productos.isSorted('p.nombre') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(productos, 'Nombre', 'p.nombre') }}</th>
            <th{% if productos.isSorted('p.precio') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(productos, 'Precio', 'p.precio') }}</th>
            <th{% if productos.isSorted('p.descripcion') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(productos, 'Descripción', 'p.descripcion') }}</th>
        </tr>

        {# table body #}
        {% for producto in productos %}
            <tr>
                <td><a href="{{path("miw_producto_get",{'id':producto.getId()})}}">{{producto.getId()}}</a></td>
                <td>{{producto.getNombre()}}</td>
                <td>{{producto.getPrecio()}}</td>
                <td>{{producto.getDescripcion()}}</td>
                <td>
                    {#                    <a href="{{path("miw_producto_delete",{'id':producto.getId()})}}">Eliminar</a>#}
                    <form method="POST" action="{{path("miw_producto_delete",{'id':producto.getId()})}}">
                        <button type="submit">Eliminar</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(productos) }}
    </div>
{% endblock %}
